# Default ownership for everything in the repo
* @AxxessPhila

# Source code and bindings
/src/ @AxxessPhila

# Configuration files
*.json @AxxessPhila
*.yml @AxxessPhila
*.yaml @AxxessPhila

# Documentation
*.md @AxxessPhila
